.main {
  background-color: var(--background-color-black);
}


.video__background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Помещаем видео под основной контент */
  object-fit: cover;
  opacity: 0.5; /* Можно регулировать прозрачность */
}
