@font-face {
  font-family: "SourceSans";
  src: 
    url("../assets/fonts/SourceSans/ttf/SourceSans3-Regular.ttf") format("truetype"),
    url("../assets/fonts/SourceSans/woff/SourceSans3-Regular.woff") format("woff"),
    url("../assets/fonts/SourceSans/woff2/SourceSans3-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans";
  src: 
    url("../assets/fonts/SourceSans/ttf/SourceSans3-Medium.ttf") format("truetype"),
    url("../assets/fonts/SourceSans/woff/SourceSans3-Medium.woff") format("woff"),
    url("../assets/fonts/SourceSans/woff2/SourceSans3-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans";
  src: 
    url("../assets/fonts/SourceSans/ttf/SourceSans3-SemiBold.ttf") format("truetype"),
    url("../assets/fonts/SourceSans/woff/SourceSans3-SemiBold.woff") format("woff"),
    url("../assets/fonts/SourceSans/woff2/SourceSans3-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans";
  src: 
    url("../assets/fonts/SourceSans/ttf/SourceSans3-ExtraBold.ttf") format("truetype"),
    url("../assets/fonts/SourceSans/woff/SourceSans3-ExtraBold.woff") format("woff"),
    url("../assets/fonts/SourceSans/woff2/SourceSans3-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
